footer.footer.u-margin-top-big
      .row
        .col-lg-6
          .footer__navigation
            ul.footer__list
              li.footer__item
                a.footer__link(href='#') Company
              li.footer__item
                a.footer__link(href='#') Contact us
              li.footer__item
                a.footer__link(href='#') Carrers
              li.footer__item
                a.footer__link(href='#') Privacy policy
              li.footer__item
                a.footer__link(href='#') Terms
        .col-lg-6
          p.footer__copyright
            | Built my 
            a.footer__lnk(href='#') Tegar Akmal
            |  ,find my in 
            a.footer__link(href='#') Github,lorem