nav.nav-modify.another-nav.shadow(style='background-color: white;top: 0;')
      .container
        .logo
          a(href='/') PAPIKOST.COM
        #mainListDiv.main_list
          ul.navlinks
            li
              a.text-dark(href='#area') Booking Kost
            li
              a.text-dark(href='#') Download app
            li
              a.text-dark(href='#') Pusat bantuan
            li
              a.btn-nav(href='/signin') Login
        span.navTrigger
          i
          i
          i