nav.nav-modify.another-nav(style='background-color: white;top: 0;')
      .container
        .logo
          a(href='index.html') PAPIKOST.COM
        #mainListDiv.main_list
          ul.navlinks
            li
              a.text-dark(href='#popular') Popular city
            li
              a.text-dark(href='#') Portfolio
            li
              a.text-dark(href='#') Services
            li
              a.btn-nav(href='#') Login
        span.navTrigger
          i
          i
          i