extends base

block content
      section#popular.section-area.mt-5
        .container
          h2.heading-secondary Popular City 
          nav(aria-label='Page navigation example')
            .row.mt-5
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/jogja.jpg', alt='ITB')
                  .card__text-box
                    a.card__link(href='/area-detail')
                      h3.card__text-box--title-2  Jogja 
                    span.text-center.card__text-box--city Daerah Istimewa Yogyakarta
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/bandung.jpg', alt='ITB')
                  .card__text-box
                    h3.card__text-box--title-2  Bandung 
                    span.text-center.card__text-box--city Jawa barat
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/bandung.jpg', alt='ITB')
                  .card__text-box
                    h3.card__text-box--title-2  Bandung 
                    span.text-center.card__text-box--city Jawa barat
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/bandung.jpg', alt='ITB')
                  .card__text-box
                    h3.card__text-box--title-2  Bandung 
                    span.text-center.card__text-box--city Jawa barat
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/bandung.jpg', alt='ITB')
                  .card__text-box
                    h3.card__text-box--title-2  Bandung 
                    span.text-center.card__text-box--city Jawa barat
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/bandung.jpg', alt='ITB')
                  .card__text-box
                    h3.card__text-box--title-2  Bandung 
                    span.text-center.card__text-box--city Jawa barat
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/bandung.jpg', alt='ITB')
                  .card__text-box
                    h3.card__text-box--title-2  Bandung 
                    span.text-center.card__text-box--city Jawa barat
              .col-12.col-lg-3.mb-5
                .card
                  img.card-img-top.card__img-type-2(src='./assets/bandung.jpg', alt='ITB')
                  .card__text-box
                    h3.card__text-box--title-2  Bandung 
                    span.text-center.card__text-box--city Jawa barat
            ul.pagination.pagination-lg
              li.page-item
                a.page-link(href='#') Previous
              li.page-item
                a.page-link(href='#') 1
              li.page-item
                a.page-link(href='#') 2
              li.page-item
                a.page-link(href='#') 3
              li.page-item
                a.page-link(href='#') Next